:root {
  --background: #e8f5ffff;
  --background-2: #afdbf5ff;
  --borders: #6e92baff;
  --text: #2c497fff;
  --accent: #fcf75eff;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;

  color: var(--text);
  background-color: var(--background);
}

div.box {
  width: 75%;
  min-height: 50px;

  margin: auto;
  margin-top: 10px;

  background-color: var(--background-2);
  border: 5px solid var(--borders);
  border-radius: 15px;
}